body {
    font-family: Arial, sans-serif;
}
.navbar .navbar-brand:before {
    background-image: url("/static/gfx/glyphicons/glyphicons/png/glyphicons-508-cluster.png");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    content: "";
}
.navbar {
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.navbar-user {
    padding-right: 15px;
}
.jumbotron {
    padding-bottom: 10px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.panel-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0 -3px 3px rgba(0,0,0,.175);
    box-shadow: 0 -3px 3px rgba(0,0,0,.175);
}
.exception {
    font-family: source-code-pro, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 14px;
}
.exception-message {
}
.exception-stacktrace {
}
fieldset {
    min-width: 0;
    padding: .35em .625em .75em!important;
    margin:0 2px;
    border: 1px solid silver!important;
    border-radius: 4px;
    margin-bottom: 10em;
}
legend.legend {
    border-bottom: none;
    width: inherit!important;
    padding: inherit;
}
.form-actions {
    text-align: center;
}
.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
.dataTables_filter input {

}