body {
    font-family: Arial, sans-serif;
}
.main-container {
    padding-bottom: 50px;
}
.navbar .navbar-brand:before {
    background-image: url("/static/gfx/glyphicons/glyphicons/png/glyphicons-508-cluster.png");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    content: "";
}
.navbar {
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.navbar-user {
    padding-right: 15px;
}
.jumbotron {
    padding-bottom: 10px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.panel-footer {
    width: 100%;
}
.exception {
    font-family: source-code-pro, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 14px;
}
.exception-message {
}
.exception-stacktrace {
}
fieldset {
    min-width: 0;
    padding: .35em .625em .75em!important;
    margin:0 2px;
    border: 1px solid silver!important;
    border-radius: 4px;
    margin-bottom: 10em;
}
legend.legend {
    border-bottom: none;
    width: inherit!important;
    padding: inherit;
}
.form-actions {
    text-align: center;
}
.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
.dataTable td {
    vertical-align: middle!important;
}
.dataTable td .dropdown-menu {
    min-width: 120px!important;
    position: fixed;
    top: auto;
    left: auto;
}
.table-responsive .btn img {
    max-height: 18px;
}
.color-danger {
    color: #a94442!important;
}
.bold {
    font-weight: bold;
}
.dropdown-menu>.active>a {
    background-color: #fff!important;
    color: #333!important;
}
.dropdown-menu>li.buttons-columnVisibility:not(.active)>a:before {
    background-image: url("/static/gfx/open_icon_library/oxygen-style/actions/dialog-cancel-3.png");
    background-size: 18px 18px;
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    margin-right: 5px;
}
.dropdown-menu>li.buttons-columnVisibility.active>a:before {
    background-image: url("/static/gfx/open_icon_library/oxygen-style/actions/dialog-ok-3.png");
    background-size: 20px 20px;
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    margin-right: 5px;
}
.dropdown-option {
    padding: 0 5px 0 5px;
}
#new_work_modal .row button {
    width: 100%;
}
#btn_start_snowballing {
    width: 100%;
}
.modal-centered {
    text-align: center;
    padding: 0!important;
}
.modal-centered:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog-centered {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-dialog-full-width {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
#progress_text {
    padding-bottom: 10px;
    font-weight: bold;
}
.bs-icon {
    background: url("/static/gfx/glyphicons/glyphicons/png/glyphicons-508-cluster.png") no-repeat;
    padding-right: 15px;
    display: inline-block;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
}
fieldset.profile {
    margin-bottom: 1em;
}
#table_works,
#table_works_add,
#table_works_add_works,
#table_works_add_authors,
#table_works_add_journals {
    width: 100%;
}
#table_works_add_works th:nth-child(3),
#table_works_add_authors th:nth-child(3),
#table_works_add_journals th:nth-child(3) {
    white-space: nowrap;
}
#table_works th:first-child,
#table_works_add th:first-child {
    width: 10px!important;
}
ul.nav-tabs li a[href="#tab_selection"] {
    font-weight: bold;
}
.blur1 {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
.max-width {
    width: 100%;
}
#snowballing_tabs {
    margin-top: 10px;
}
#visualization_container {
    width: 100%;
    height: 100%;
    margin: auto;
}
